<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />

        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>

    <NotFound>
        <PageTitle>Sidan hittades inte</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert" style="padding: 20px;">
                Ojdå! Sidan du söker finns inte.
            </p>
        </LayoutView>
    </NotFound>
</Router>
