@page "/"

<PageTitle>Mitt CV</PageTitle>
@*About me*@
<h1 class="@(ShowMenu ? "cv-section-header" : "cv-section-header-full")">Målet med mitt jobb</h1>
<div class="@(ShowMenu ? "cv-section-container" : "cv-section-container-full")">
    <div class="@(ShowMenu ? "goals-items" : "goals-items-full")">
        <div class="goals-content">
            <p>
                Målet med mitt jobb är att alltid göra mitt bästa för att uppgiften ska utföras på så bra sätt
                som möjligt. Jag är noggrann, målmedveten och driven vilket också bidrar till att jobbet som
                jag utför blir så bra som jag kan göra det.
            </p>
        </div>
    </div>
</div>
@*Education*@
<h1 class="@(ShowMenu ? "cv-section-header" : "cv-section-header-full")">Utbildning</h1>
<div class="@(ShowMenu ? "cv-section-container" : "cv-section-container-full")">
    @foreach(Education education in MyEducation)
    {
        <div class="@(ShowMenu ? "cv-section-items" : "cv-section-items-full")">
            <div class="cv-section-content">
                <h2>@education.Title</h2>
                <h3>@education.School, @education.Period</h3>
                <p>@education.Description</p>
                <details>
                    <summary>
                        Kurser
                    </summary>

                    <ul>
                        @foreach (var course in education.Courses)
                        {
                            <li>@course</li>
                        }
                    </ul>
                </details>
            </div>
        </div>
    }
</div>

@*Experience*@
<h1 class="@(ShowMenu ? "cv-section-header" : "cv-section-header-full")">Erfarenhet</h1>
<div class="@(ShowMenu ? "cv-section-container" : "cv-section-container-full")">
    @foreach (Experience experience in MyExperience)
    {
        <div class="@(ShowMenu ? "cv-section-items" : "cv-section-items-full")">
            <div class="cv-section-content">
                <h2>@experience.Title</h2>
                <h3>@experience.Company</h3>
                @foreach (var period in experience.Periods)
                {
                    <h3>@period</h3>
                }
                <p>@experience.Description</p>
            </div>
        </div>
    }
</div>

@code 
{
    [CascadingParameter]
    public bool ShowMenu { get; set; }

    private List<Education> MyEducation = new List<Education>();

    private List<Experience> MyExperience = new List<Experience>();

    protected override void OnInitialized()
    {
        MyEducation.Add(
            new Education
            {
                Title = "Teknik - IT-inriktning",
                School = "Lindeskolan, Lindesberg",
                Period = "2020 - 2023",
                Description = "Lindeskolan och Teknikprogrammet var helt rätt val för mig. Utbildningen var treårig där jag år 2 och 3 fick fördjupa mina kunskaper inom IT då jag valde det som min inriktning. Mina höga studieresultat och mitt kamratskap ledde till ett stipendium som jag mottog under slutet av trean.",
                Courses = new List<string> { "CAD 1", "Dator- och nätverksteknik", "Engelska 7", "Gränsnittsdesign", "Matematik 4", "Programmering 1", "Programering 2", "Webbserverprogrammering 1", "Webbutveckling 1", "Webbutveckling 2 mm" }
            }
        );
        MyEducation.Add(
            new Education
            {
                Title = "Systemvetenskapliga programmet",
                School = "Örebro Universitet, Örebro",
                Period = "2024 - ",
                Description = "Systemvetenskapliga programmet på Örebro Universitet har varit helt rätt nästa steg för mig i livet. Jag har läst kurser som intresserar mig och har fått fördjupa mina kunskaper ytterliggare inom programmering. Under utbildningen har jag jobbat med Java, C#, .Net och mycket mer.  ",
                Courses = new List<string> { "Informatik med systemvetenskaplig inriktning, grundkurs", "Informatik, Kravhantering, fortsättningskurs", "Informatik, Mjukvaruarkitektur, fortsättningskurs", "Informatik, Systemutvecklingsprojekt med Scrum och Extreme Programming, fortsättningskurs", "Informatik, Interaktionsdesign, fortsättningskurs", "Informatik, Klientprogrammering för webbsystem, fortsättningskurs", "Informatik, Back-end systemutveckling, fortsättningskurs", "Informatik, Webbsystem med .NET, fortsättningskurs" }
            }
        );
        MyExperience.Add(
            new Experience
            {
                Title = "Teknik - IT-inriktning",
                Company = "Lindeskolan",
                Periods = new List<string> { "2020 - 2023"},
                Description = "Utbildning på teknikprogrammet i Lindesberg där jag valde IT-inriktningen från och med årskurs 2."
            }
        );
        MyExperience.Add(
            new Experience
            {
                Title = "Systemvetenskapliga programmet",
                Company = "Örebro Universitet",
                Periods = new List<string> { "2020 - 2023" },
                Description = "Utbildning på systemvetenskapliga programmet i Örebro där jag läst kurser som vidgat mina kunskaper inom Java, C#, HTML, CSS och andra språk"
            }
        );
        MyExperience.Add(
            new Experience
            {
                Title = "Teknik - IT-inriktning",
                Company = "Lindeskolan",
                Periods = new List<string> { "2020 - 2023" },
                Description = "Utbildning på teknikprogrammet i Lindesberg där jag valde IT-inriktningen från och med årskurs 2."
            }
        );
    }
}
