@page "/"

<PageTitle>Mitt CV</PageTitle>
@*Education*@
<h1 class="@(ShowMenu ? "cv-section-header" : "cv-section-header-full")">Utbildning</h1>
<div class="@(ShowMenu ? "cv-section-container" : "cv-section-container-full")">
    @foreach(Education education in MyEducation)
    {
        <div class="@(ShowMenu ? "cv-section-items" : "cv-section-items-full")">
            <div class="cv-section-content">
                <h2>@education.Title</h2>
                <h3>@education.School (@education.Period)</h3>
                <p>@education.Description</p>
            </div>
        </div>
    }
</div>

@*Experience*@
<h1 class="@(ShowMenu ? "cv-section-header" : "cv-section-header-full")">Erfarenhet</h1>
<div class="@(ShowMenu ? "cv-section-container" : "cv-section-container-full")">
    @foreach (Experience experience in MyExperience)
    {
        <div class="@(ShowMenu ? "cv-section-items" : "cv-section-items-full")">
            <div class="cv-section-content">
                <h2>@experience.Title</h2>
                <h3>@experience.Company (@experience.Period)</h3>
                <p>@experience.Description</p>
            </div>
        </div>
    }
</div>

@code 
{
    [CascadingParameter]
    public bool ShowMenu { get; set; }

    private List<Education> MyEducation = new List<Education>();

    private List<Experience> MyExperience = new List<Experience>();

    protected override void OnInitialized()
    {
        MyEducation.Add(
            new Education
            {
                Title = "Teknik - IT-inriktning",
                School = "Lindeskolan",
                Period = "2020 - 2023",
                Description = "Utbildning på teknikprogrammet i Lindesberg där jag valde IT-inriktningen från och med årskurs 2."
            }
        );
        MyEducation.Add(
            new Education
            {
                Title = "Systemvetenskapliga programmet",
                School = "Örebro Universitet",
                Period = "2024 - ",
                Description = "Utbildning på systemvetenskapliga programmet i Örebro där jag läst kurser som vidgat mina kunskaper inom Java, C#, HTML, CSS och andra språk"
            }
        );
        MyEducation.Add(
            new Education
            {
                Title = "Teknik - IT-inriktning",
                School = "Lindeskolan",
                Period = "2020 - 2023",
                Description = "Utbildning på teknikprogrammet i Lindesberg där jag valde IT-inriktningen från och med årskurs 2."
            }
        );
        MyExperience.Add(
            new Experience
            {
                Title = "Teknik - IT-inriktning",
                Company = "Lindeskolan",
                Period = "2020 - 2023",
                Description = "Utbildning på teknikprogrammet i Lindesberg där jag valde IT-inriktningen från och med årskurs 2."
            }
        );
        MyExperience.Add(
            new Experience
            {
                Title = "Systemvetenskapliga programmet",
                Company = "Örebro Universitet",
                Period = "2024 - ",
                Description = "Utbildning på systemvetenskapliga programmet i Örebro där jag läst kurser som vidgat mina kunskaper inom Java, C#, HTML, CSS och andra språk"
            }
        );
        MyExperience.Add(
            new Experience
            {
                Title = "Teknik - IT-inriktning",
                Company = "Lindeskolan",
                Period = "2020 - 2023",
                Description = "Utbildning på teknikprogrammet i Lindesberg där jag valde IT-inriktningen från och med årskurs 2."
            }
        );
    }
}
